@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=EB+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abel&family=EB+Garamond:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(imagens/conta.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    overflow-x: hidden;

}

main{
    flex-grow: 1;
}

main form {
    background-color: white;
    padding: 2em;
}

.baixo {
    display: flex;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
   
   
}

header{
    background-color: white;
    padding: 2em;
}


.topo{
    display: flex;
    gap: 2em;
    align-items: center;
}



h1 {
    color: black;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
}

h2 {
    padding-bottom: 2em;
    padding: 2em;
}

#matricula, #senha, #email{
    width: 300px;
    height: 30px; 
    padding: 5px;
    text-align: left;
}


.enter input[type='submit']{
    background-image: linear-gradient(rgb(4, 175, 104),rgb(1, 109, 55));
    padding: 15px 5em;
    color: white;

}

.enter{
    text-align: center;
    padding: 2em;
}

footer{
    text-decoration: none;
    background-color: white;
    color: black;
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 3em;
    width: 100%;
    
}

